@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'symbols-sedona';
  src: url('../fonts/symbols-sedona.woff') format('woff'), url('../fonts/symbols-sedona.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  height: 56px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  line-height: 26px;
  list-style: none;
}

.main-navigation a {
  color: #000000;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.main-navigation li {
  box-sizing: border-box;
  width: 240px;
  ;
  list-style: none;
}

.main-navigation li:first-child {
  padding-left: 72px;
  text-align: left;
}

.main-navigation li:last-child {
  padding-right: 72px;
  text-align: right;
}

.main-navigation li:nth-child(3) {
  margin-left: 240px;
  text-align: center;
}

.main-navigation li:nth-child(2) {
  text-align: center;
}

.main-navigation a:hover,
.hotel-header a:hover {
  color: #81b3d2;
}

.main-navigation a:focus,
.hotel-header a:focus {
  color: #b7b7b7;
}

.main-navigation a:active {
  color: #766357;
}

.header-banner {
  text-align: center;
}

.main-banner {
  margin: 0;
  padding: 0;
  z-index: 2;
  text-align: center;
}

.main-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 508px;
  background: url(../img/shape.png) no-repeat 52% bottom, #81b3d2 url(../img/background-photo.jpg) no-repeat bottom;
}

.main-banner {
  width: 100%;
  z-index: 2;
  margin-bottom: 60px;
}

.intro-banner {
  position: absolute;
  top: 131px;
}

.header-banner h1 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 13px;
}

.header-banner p {
  font-size: 14px;
  line-height: 26px;
}

.description-item {
  background-color: #81b3d2;
  color: white;
  text-align: center;
}

.description-item h2 {
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  padding-top: 48px;
  padding-bottom: 20px;
}

.description-item p {
  margin: 0;
  padding-top: 18px;
  line-height: 21px;
}

.advantages-item {
  color: #000000;
  background-color: #eeeeee;
  width: 400px;
  text-align: center;
  padding: 30px 60px 45px
}

.advantages-item h2 {
  margin-bottom: 21px;
}

.advantages-item p {
  margin-top: 19px;
  line-height: 21px;
}

.description-photo.first {
  background-image: url(../img/description-photo-first.jpg);
  width: 800px;
  height: 256px;
  background-size: cover;
}

.description-photo.second {
  background-image: url(../img/description-photo-second.jpg);
  width: 800px;
  background-size: cover;
}

.description-photo.second {
  background-image: url('../img/description-photo-second.jpg')
}

.interest {
  text-align: center;
}

.interest h2 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 26px;
}

.search-btn {
  background-color: #766357;
  color: white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  background-color: #503e33;
  color: #857871;
}

.data-line label {
  line-height: 26px;
  font-weight: bold;
}

.form-show {
  text-align: center;
}

.search-btn-blue:hover {
  background-color: #669ec0;
}

.search-btn-blue:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.search-btn-blue {
  text-transform: uppercase;
  background-color: #81b3d2;
  color: white;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin: 0 auto;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.data-line input {
  font: inherit;
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
}

.data-line input:hover {
  background-color: #f2f2f2;
}

.data-line input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
}

.icon-minus.btn:hover,
.icon-plus.btn:hover {
  background-color: #000000;
}

.icon-minus.btn:active,
.icon-plus.btn:active {
  background-color: #81b3d2;
}

.icon-calendar::before {
  content: "\e800";
}

.search-form input {
  border: medium none;
  background-color: rgb(242, 242, 242);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.date-of-entry,
.date-of-departure {
  position: absolute;
  font-size: 21px;
  line-height: 26px;
  color: #c2c2c2;
}

.date-of-entry {
  top: 62px;
  right: 60px;
}

.icon-minus::before {
  content: "\e802";
}

.icon-plus::before {
  content: "\e801";
}

.search-form .line-adults {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 458px;
  box-sizing: border-box;
}

.amount button[name="minus-adult"] {
  margin-left: 40px;
}

.amount button {
  height: 37px;
  width: 40px;
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.amount input {
  width: 37px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
}

.search-form input {
  text-transform: uppercase;
  cursor: pointer;
}

.amount button[name="plus-adult"] {
  margin-right: 52px;
}

.search-form input {
  border: none;
  background-color: rgb(242, 242, 242);
  height: 35px;
  width: 331px;
}

.search-form .amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 458px;
  box-sizing: border-box;
}

.amount button:hover {
  color: #000000;
}

.amount button:active {
  color: #81b3d2;
}

.amount input {
  width: 37px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

/*второстепенная страница*/

.filter-block {
  background: url('../img/filter-background.jpg') no-repeat;
  color: #ffffff;
}

.filter-block legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-block fieldset {
  border: none;
}

.filter-block label {
  line-height: 21px;
  text-transform: uppercase;
}

.price-input input {
  background-color: transparent;
  color: #ffffff;
}

.filter-block-form input[type="checkbox"] {
  display: none;
}

.filter-block-form input[type="checkbox"]:checked+label::before {
  content: "\2611";
}

.filter-block-form input[type="checkbox"]+label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  font-family: "symbols-sedona";
  font-size: 26px;
}

.filter-block-form input[type="checkbox"]+label {
  display: block;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.infrastructure label,
.accommodation label {
  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 25px;
}

.infrastructure legend,
.accommodation legend {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 25px;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.filter-btn {
  background-color: transparent;
  color: #ffffff;
  line-height: 24px;
  text-transform: uppercase;
}

.filter-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.sorting-quantity span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-range span {
  font-size: 12px;
  line-height: 18px;
}

.sorting-range-list {
  list-style: none;
}

.sorting-range-list a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-range-list a:hover {
  color: #81b3d2;
}

.sorting-range-list .active {
  text-decoration: none;
  color: #81b3d2;
  border: none;
}

.sorting-sort-list {
  list-style: none;
}

.hotel-header {
  font-size: 21px;
  line-height: 26px;
}

.hotel-header a {
  color: #000000;
}

.result-details a {
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 17px;
  margin-top: 4px;
  display: block;
}

.reserve a {
  background-color: #766357;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 17px;
  display: block;
  margin-top: 4px;
}

.rating-amount span {
  background-color: #f2f2f2;
}

.price-input input {
  text-transform: uppercase;
}

.reserve a:hover {
  background-color: #503e33;
  color: #857871;
}

.result-details a:hover {
  background-color: #5496bd;
  color: #88b6d1;
}

.result-details a:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.sorting-range-list a:active {
  color: #000000;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin: 0 auto;
  padding: 0;
}

.social-btn:hover,
.social-btn:focus {
  background: #669ec0;
}

.social-btn:active path {
  fill: #88b6d1;
}

.footer .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
}

.footer .developer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 214px;
  list-style: none;
}

.developer a {
  width: 110px;
  height: auto;
  margin-top: 3px;
}

.developer span {
  margin-right: 10px;
}

.developer a:hover path {
  fill: #88b6d1;
}

.developer a:active path {
  fill: #bdbbbc;
}

.top-menu .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-banner {
  width: 576px;
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 51px;
}

.description {
  display: flex;
  flex-direction: row;
}

.description-item {
  width: 400px;
  min-height: 256px;
  text-align: center;
}

.advantages {
  display: flex;
}

.facilities {
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
}

.facilities-item::before {
  content: "";
  display: flex;
  position: absolute;
  text-align: center;
  width: 75px;
  height: 75px;
}

.facilities-item {
  position: relative;
  -webkit-flex-basis: 256px;
  -ms-flex-preferred-size: 256px;
  flex-basis: 256px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 165px 50px 68px;
}

.item-one::before,
.item-two::before,
.item-three::before {
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.facilities-header {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  margin-top: -5px;
  margin-bottom: 25px;
}

.facilities {
  line-height: 21px;
}

.advantages-item h2 {
  padding: 0 60px;
  font-size: 21px;
  line-height: 21px;
}

.facilities-item.item-one::before {
  content: "";
  background: url('../img/icon-1.svg') no-repeat;
}

.facilities-item.item-two::before {
  content: "";
  background: url('../img/icon-3.svg') no-repeat;
}

.facilities-item.item-three::before {
  content: "";
  background: url('../img/icon-2.svg') no-repeat;
}

.map {
  display: flex;
}

.search-btn {
  display: flex;
  margin: 0 auto;
  padding: 30px 0;
  width: 567px;
  justify-content: center;
  background-color: #766357;
  color: white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.interest {
  display: block;
  text-align: center;
  width: 576px;
  margin: 0 auto;
  padding-top: 50px;
}

.interest p {
  margin-bottom: 46px;
  line-height: 24px;
}

.map {
  display: flex;
  position: relative;
  background: #dfe7cd;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  width: 1200px;
  height: 474px;
  border: 0;
}

.date-of-departure {
  top: 135px;
  right: 60px;
}

.search-form-visible {
  display: flex;
}

.search-form {
  box-sizing: border-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  padding: 55px;
  width: 567px;
  height: 395px;
  background: #ffffff;
  font-weight: bold;
  line-height: 26px;
  box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
}

.search-form .entry,
.search-form .departure {
  padding-top: 5px;
  margin-bottom: 10px;
}

.search {
  margin: 0 auto;
  width: 567px;
}

.search-form-visible {
  display: flex;
}

.search-form form {
  margin: 0 auto;
}

.search-form input[name="date-of-entry"],
.search-form input[name="date-of-departure"] {
  padding-left: 15px;
}

.amount button[name="minus-children"] {
  margin-left: 26px;
}

.date-of-entry span:hover,
.date-of-departure span:hover {
  color: #000000;
}

.footer {
  display: flex;
  width: 1200px;
  padding: 21px 0;
  align-items: center;
}

.hashtag {
  padding-left: 131px;
}

.social {
  padding-left: 256px;
}

.developer {
  padding-left: 218px
}

.filter-block {
  display: flex;
}

.infrastructure {
  width: 240px;
}

.accommodation {
  width: 288px;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range {
  position: relative;
  box-sizing: border-box;
  width: 528px;
  padding-left: 200px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter-block-form {
  display: flex;
  padding-top: 26px;
  padding-right: 72px;
  padding-bottom: 7px;
  padding-left: 72px;
  width: 1056px;
}

.sorting-block {
  display: flex;
  padding: 29px 72px 30px 72px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  align-items: baseline;
}

.sorting-quantity {
  width: 165px;
}

.sorting-range {
  width: 781px;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  line-height: 18px;
}

ul.sorting-range-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

ul.sorting-range-list li {
  margin-right: 30px;
}

.result-item {
  display: flex;
  padding: 25px 72px;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
}

img.hotel-image {
  width: 135px;
  height: 90px;
}

h1.hotel-header {
  min-width: 750px;
  margin-top: 0;
  margin-bottom: 5px;
}

.result-description {
  display: flex;
  flex-wrap: wrap;
  width: 781px;
  min-height: 100px;
  padding-left: 32px;
}

.result-details {
  margin-right: 5px;
}

.result-details span {
  margin-bottom: 20px;
}

.rating-amount {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
}

.result-rating {
  height: 97px;
  width: 110px;
}

.result-rating {
  height: 97px;
  width: 110px;
  display: flex;
  flex-direction: column;
}

.filter-block {
  box-sizing: border-box;
  min-height: 215px;
  color: #ffffff;
  background-position: center;
}

.sorting-ab {
  width: 110px;
}

.sorting-ab ul {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 8px;
}

.sorting-ab-list li {
  display: block;
  padding-left: 12px;
  height: 19px;
  width: 10px;
}

.sorting-ab span {
  color: #cccccc;
  font-size: 23px;
  line-height: 20px;
}

.icon-up-dir::before,
.icon-down-dir::before {
  margin: 0;
  text-decoration: none;
}

.icon-up-dir::before {
  content: "\25b2";
}

.icon-down-dir::before {
  content: "\25bc";
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
}

.sorting-ab .active {
  color: #81b3d2;
}

.icon-up-dir::before,
.icon-down-dir::before {
  margin: 0;
  text-decoration: none;
}

.sorting-block ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

.sorting-ab span:hover {
  color: #000000;
}

.sorting-ab span:active {
  color: #81b3d2;
}

.sorting-range ul {
  padding-left: 40px;
}

.result-rating {
  display: flex;
  flex-direction: column;
  height: 97px;
  width: 110px;
  text-align: right;
  justify-content: space-between;
}

.rating-stars {
  color: #81b3d2;
  font-size: 19px;
  line-height: 21px;
}

.icon-star::before {
  content: "\2605";
}

.rating-stars .icon-star::before {
  margin-right: 0;
}
